*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
  padding-block: 1rem;
}
.card {
  width: min(20rem, 90vw);
}
.card-img {
  max-inline-size: 100%;
  block-size: auto;
}
