*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  padding-block: 1rem;
}
.content {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.card {
  width: min(20rem, 90vw);
  text-align: left;
}
.card-img {
  max-inline-size: 100%;
  block-size: auto;
}
