/** 
* CONTENTS
*
* RESET
* GLOBAL STYLES
* CARD
* STATS
* LAYOUT
* MEDIA-QUERIES
*/

/*-------------------------- *\
  #RESET 
\*---------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*---------------------------*/

:root {
  /* Colors */
  --navy-950: hsl(233, 47%, 7%);
  --blue-950: hsl(244, 37%, 16%);
  --purple-500: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --white-2: hsla(0, 0%, 100%, 0.75);
  --white-3: hsla(0, 0%, 100%, 0.6);

  /* Fonts */
  --ff-body: "Inter", sans-serif;
  --ff-heading: "Lexend Deca", sans-serif;

  --fs-base: 15px;
  --fs-heading: clamp(1.73rem, 4vw, 2.26rem);
  --fs-text: clamp(1rem, 1vw, 1.06rem);
  --fs-stats-number: 1.33rem;
  --fs-stats-label: 0.8rem;

  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacings */
  --spacing-md: 1.06rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 2.13rem;
  --spacing-xxl: 3.2rem;

  /* Border radius */
  --border-radius-sm: 12px;

  /* Box shadows */
  --shadow-subtle: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}

/*-------------------------- *\
  #CARD 
\*---------------------------*/

.card-title {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  line-height: 1.4;
}
.card-title span {
  color: var(--purple-500);
}
.card-description {
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  color: var(--white-2);
  line-height: 1.5;
}

.card-picture img {
  display: block;
  max-inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
.card-picture {
  display: block;
  height: auto;
  position: relative;
}
.card-picture::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background: var(--purple-500);
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);

  padding: var(--spacing-lg);

  text-align: center;
  color: var(--white);
}
.card {
  width: min(21rem, 90vw);
  border-radius: var(--border-radius-sm);
  background-color: var(--blue-950);
  box-shadow: var(--shadow-subtle);
  overflow: hidden;
}

/*-------------------------- *\
  #STATS 
\*---------------------------*/

.stats-list {
  list-style: none;
  text-align: center;
}
.stats-list li {
  margin-block-start: var(--spacing-lg);
}
.stats-number {
  display: block;
  font-size: var(--fs-stats-number);
  font-weight: var(--fw-bold);
  line-height: 1.5;
}
.stats-label {
  font-size: var(--fs-stats-label);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white-3);
}

/*-------------------------- *\
  #LAYOUT 
\*---------------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  padding-block: var(--spacing-lg);

  background-color: var(--navy-950);
}

/*-------------------------- *\
  #MEDIA-QUERIES 48rem - 64rem
\*---------------------------*/

@media (min-width: 48rem) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-sm);
    inline-size: min(65rem, 95vw);
  }
  .card-content {
    align-items: flex-start;
    gap: var(--spacing-lg);
    padding: var(--spacing-xxl);
    text-align: left;
  }
  .card-title {
    max-inline-size: 18ch;
  }
  .card-description {
    max-inline-size: 50ch;
  }
  .stats-list {
    display: flex;
    gap: var(--spacing-xl);
    padding-block-start: var(--spacing-md);

    text-align: left;
  }
}
@media (min-width: 64rem) {
  .card {
    gap: var(--spacing-xl);
  }
  .card-title {
    max-inline-size: 20ch;
  }
  .card-description {
    max-inline-size: 46ch;
  }
  .stats-list {
    gap: var(--spacing-xxl);
  }
}
