*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --grey-100: hsl(212, 6%, 82%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-body: "Poppins", sans-serif;
  --fs-base: 15px;
  --fs-md: clamp(1rem, 0.47vw + 0.88rem, 1.13rem); /* 15px - 17px */
  --fs-lg: clamp(1.33rem, 0.47vw + 0.88rem, 1.46rem); /* 20px - 22px */
  --fs-xl: clamp(1.6rem, 0.47vw + 0.88rem, 2.13rem); /* 24px - 32px */
  --fs-xxl: clamp(2.13rem, 0.47vw + 0.88rem, 2.4rem); /* 32px - 36px */

  --fw-thin: 200;
  --fw-regular: 400;
  --fw-semibold: 600;

  /* Spacings */
  --spacing-sm: 1.33rem; /* 20px */
  --spacing-md: 1.73rem; /* 26px */
  --spacing-lg: 2.26rem; /* 34px */

  /* Border Radius */
  --border-radius-sm: 10px;

  /* Box shadows */
  --shadow-subtle: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
html {
  font-size: var(--fs-base);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: var(--spacing-sm);

  font-family: var(--ff-body);
  color: var(--grey-500);
  background: linear-gradient(135deg, var(--white), var(--grey-100));
}
.content-section {
  padding-block: var(--spacing-md);
  text-align: center;
  line-height: 1.4;
}
.title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-thin);
  color: var(--grey-400);
}
.subtitle {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
}
.description {
  margin-block-start: var(--spacing-sm);
  font-size: var(--fs-sm);
  max-inline-size: 58ch;
}
.cards-section {
  display: grid;
  place-items: center;
  gap: var(--spacing-md);
}
.card {
  display: flex;
  flex-direction: column;

  padding: var(--spacing-md);

  border-radius: var(--border-radius-sm);
  background-color: var(--white);
  box-shadow: var(--shadow-subtle);

  position: relative;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 0.4rem;
}
.card--supervisor::before {
  background-color: var(--cyan);
}
.card--builder::before {
  background-color: var(--red);
}
.card--karma::before {
  background-color: var(--orange);
}
.card--calculator::before {
  background-color: var(--blue);
}
.card__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  line-height: 1.9;
}
.card__description {
  font-size: var(--fs-sm);
  line-height: 1.5;
  color: var(--grey-400);
  max-inline-size: 30ch;
}
.card__image {
  align-self: flex-end;
  margin-block-start: var(--spacing-md);
}
@media (min-width: 48rem) {
  .cards-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 75rem) {
  .cards-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }
  .card--supervisor {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .card--builder {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .card--karma {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .card--calculator {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .title,
  .subtitle {
    font-size: var(--fs-xxl);
  }
  .description {
    color: var(--grey-400);
  }
}
