*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --teal-500: hsl(179, 60%, 43%);
  --teal-400: hsl(179, 60%, 38%);
  --teal-100: hsl(204, 43%, 93%);
  --green-400: hsl(71, 73%, 54%);
  --gray-500: hsl(218, 22%, 67%);
  --gray-400: hsl(218, 22%, 85%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-body: "Karla", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacings */
  --spacing-md: 1rem;
  --spacing-lg: 2.5rem;

  /* Border radius */
  --border-radius-sm: 8px;

  /* Box shadows */
  --shadow-subtle: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--spacing-md);

  background-color: var(--gray-400);
  font-family: var(--ff-body);
}
.card {
  display: grid;
  width: min(23rem, 90vw);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-subtle);
  overflow: hidden;
}
.intro {
  background-color: var(--white);
}
.subscription {
  background-color: var(--teal-400);
  color: var(--white);
}
.features {
  background-color: var(--teal-500);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--spacing-lg);
}
/* Typography */
/* Utility for accessibility*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.title {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}
.intro-title {
  color: var(--teal-400);
}
.subscription-title {
  color: var(--white);
}
.features-title {
  color: var(--white);
}
.intro-subtitle {
  font-size: 1.3rem;
  color: var(--green-400);
}
.description {
  color: var(--gray-500);
  line-height: 1.6;
  max-inline-size: 62ch;
}
.price {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.price-period {
  font-size: 1rem;
  color: var(--teal-100);
  line-height: 1.6;
}
.features-list {
  list-style: none;
  color: var(--teal-100);
  line-height: 1.7;
}
.button {
  display: block;
  padding: 1rem 2rem;
  margin-block-start: var(--spacing-lg);
  border: none;
  border-radius: var(--border-radius-sm);

  font-weight: var(--fw-bold);
  text-decoration: none;
  text-align: center;
  color: var(--white);

  background-color: var(--green-400);
  cursor: pointer;
  box-shadow: var(--shadow-subtle);
  transition: opacity 0.2s ease;
}
.button:hover,
.button:focus-visible {
  opacity: 0.8;
}

@media (min-width: 48rem) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 13.75rem 20rem;
    width: min(50rem, 90vw);
  }
  .intro {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .subscription {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .features {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@media (prefers-reduced-motion: reduce) {
  .button {
    transition: 0.01ms;
  }
}
