@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Thin.ttf") format(trueType);
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format(trueType);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format(trueType);
  font-weight: 600;
  font-display: swap;
}
