/** 
* CONTENTS
*
* RESET
* GLOBAL-STYLES
* TYPOGRAPHY
* IMAGES
* LAYOUT
* MEDIA QUERIES
*/

/*-------------------------- *\
  #RESET 
\*---------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*---------------------------*/

:root {
  /* Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --grey-100: hsl(212, 6%, 82%);
  --grey-50: hsl(180, 3%, 92%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-body: "Poppins", sans-serif;
  --fs-base: 15px;
  --fs-md: clamp(0.93rem, 0.47vw + 0.88rem, 1.06rem);
  --fs-lg: clamp(1.33rem, 0.47vw + 0.88rem, 1.6rem);
  --fs-xl: clamp(1.86rem, 0.47vw + 0.88rem, 2.26rem);

  --fw-thin: 200;
  --fw-regular: 400;
  --fw-semibold: 600;

  /* Spacings */
  --spacing-sm: 1.06rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 2.13rem;

  /* Border Radius */
  --border-radius-sm: 10px;

  /* Box shadows */
  --shadow-subtle: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}

/*-------------------------- *\
  #TYPOGRAPHY 
\*---------------------------*/

.title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-thin);
  color: var(--grey-500);
}
.subtitle {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
}
.description {
  margin-block-start: var(--spacing-sm);
  font-size: var(--fs-sm);
  line-height: 1.5;
  color: var(--grey-500);
  max-inline-size: 58ch;
}
.card__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
}
.card__description {
  font-size: var(--fs-sm);
  line-height: 1.5;
  color: var(--grey-400);
  max-inline-size: 30ch;
}

/*-------------------------- *\
  #IMAGES 
\*---------------------------*/

.card__image {
  align-self: flex-end;
  margin-block-start: var(--spacing-md);
}

/*---------------------------*\
  #LAYOUT 
\*---------------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: var(--spacing-sm);

  background-color: var(--grey-50);
}
.intro-section {
  padding-block: var(--spacing-lg);
  text-align: center;
}
.cards-section {
  display: grid;
  place-items: center;
  gap: var(--spacing-lg);
  padding-block: var(--spacing-lg);
}
.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  padding: var(--spacing-lg);

  border-radius: var(--border-radius-sm);
  background-color: var(--white);
  box-shadow: var(--shadow-subtle);

  position: relative;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 0.4rem;
}
.card--supervisor::before {
  background-color: var(--cyan);
}
.card--builder::before {
  background-color: var(--red);
}
.card--karma::before {
  background-color: var(--orange);
}
.card--calculator::before {
  background-color: var(--blue);
}

/*---------------------------*\
  #MEDIA-QUERIES 
\*---------------------------*/

@media (min-width: 48rem) {
  .container {
    padding-block: var(--spacing-lg);
  }
  .cards-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 75rem) {
  .cards-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }
  .card--supervisor {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .card--builder {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .card--karma {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .card--calculator {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
}
