*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --orange-500: hsl(25, 97%, 53%);
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);

  /* Fonts */
  --ff-body: "Overpass", sans-serif;

  --fs-base: 15px;
  --fs-sm: clamp(0.75rem, 0.69rem + 0.28vw, 0.88rem);
  --fs-md: clamp(0.8rem, 0.73rem + 0.33vw, 0.94rem);
  --fs-lg: clamp(1.35rem, 1.15rem + 0.95vw, 1.75rem);

  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacings */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  /* Border radius */
  --border-radius-sm: 12px;
  --border-radius-md: 20px;
  --border-radius-lg: 24px;

  /* Box shadows */
  --shadow-subtle: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0px 2px 6px 2px rgba(0, 0, 0, 0.16);
}
html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}
/* Layout */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--grey-950);
}
.card {
  border-radius: var(--border-radius-md);
  background-color: var(--grey-900);
  box-shadow: var(--shadow-medium);
}
.card--confirmation {
  text-align: center;
}
.hidden {
  display: none;
}
.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
}
.content--confirmation {
  align-items: center;
  gap: var(--spacing-md);
}
/* Images */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-sm);
  width: 2.34rem;
  height: 2.34rem;
  border-radius: 50%;
  background-color: var(--grey-900);
  box-shadow: var(--shadow-medium);
}
.img-container {
  margin-block-end: var(--spacing-md);
}
/* Typography */
.card__title {
  font-size: var(--fs-lg);
  color: var(--white);
  line-height: 1.4;
  margin-block-start: var(--spacing-md);
}
.card__description {
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  color: var(--grey-500);
  line-height: 1.5;
  max-inline-size: 36ch;
}
.description--rating {
  width: 70%;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-md);
  background-color: var(--grey-900);
  color: var(--orange-500);
  box-shadow: var(--shadow-medium);
}
/* Form */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.options__fieldset {
  border: none;
}
.options__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
input[type="radio"]:checked + .option {
  background-color: var(--orange-500);
}
.option {
  display: block;
  position: relative;
  width: 3rem;
  height: 0;
  padding-block-end: 3rem;
  text-align: center;
  line-height: 3;
  background-color: var(--grey-900);
  color: var(--white);
  border-radius: 50%;
  box-shadow: var(--shadow-medium);
  cursor: pointer;
  transition: 0.2s ease;
}
.option:hover {
  background-color: var(--white);
  color: var(--grey-950);
}

.button {
  width: 100%;
  padding: var(--spacing-md);
  margin-block-start: var(--spacing-lg);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-medium);
  cursor: pointer;
  transition: 0.2s ease;
}

.button--submit {
  background-color: var(--orange-500);
  color: var(--grey-950);
}
.button--submit:hover,
.button--submit:focus-visible {
  background-color: var(--white);
  color: var(--grey-950);
}

@media (prefers-reduced-motion: reduce) {
  .option,
  .button {
    transition-duration: 0.01ms;
  }
}
