/** 
* CONTENTS
*
* RESET
* GLOBAL STYLES
* CARDS
* BUTTONS
* LAYOUT
* MEDIA-QUERIES
*/

/*-------------------------- *\
  #RESET 
\*---------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*---------------------------*/

:root {
  /* Colors */
  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --gray-100: hsl(0, 0%, 95%);

  /* Fonts */
  --ff-body: "Lexend Deca", sans-serif;
  --ff-heading: "Big Shoulders Display", sans-serif;

  --fs-base: 15px;

  --fs-heading: 2rem;
  --fs-text: 1rem;

  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacings */
  --spacing-100: 1.06rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.13rem;

  /* Border radius */
  --border-radius-sm: 0.8rem;
  --border-radius-lg: 1.6rem;

  /* Box shadow */
  --shadow-subtle: 0px 8px 10px rgba(0, 0, 0, 0.2);
}
html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}

/* Utility for accessibility title section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*-------------------------- *\
  #CARDS 
\*---------------------------*/

.card__title {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  color: var(--gray-100);
}
.card__text {
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  line-height: 1.7;
  color: var(--transparent-white);
  max-inline-size: 31ch;
}
.card__icon {
  inline-size: 5rem;
  block-size: auto;
}
.card {
  inline-size: min(20rem, 95vw);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);

  padding: var(--spacing-300);

  overflow: hidden;
}
.card--sedans {
  background-color: var(--gold-500);
}
.card--suvs {
  background-color: var(--cyan-800);
}
.card--luxury {
  background-color: var(--green-950);
}

/*-------------------------- *\
  #BUTTONS 
\*---------------------------*/

.card__button {
  align-self: flex-start;
  display: inline-block;

  padding: 0.7em 1.8em;
  margin-block-start: auto;

  font-family: var(--ff-body);
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: var(--border-radius-lg);
  background-color: var(--gray-100);
  cursor: pointer;
  transition: color 0.2s ease, border 0.2s ease;
}
.card__button--sedans {
  color: var(--gold-500);
}
.card__button--suvs {
  color: var(--cyan-800);
}
.card__button--luxury {
  color: var(--green-950);
}
.card__button:hover,
.card__button:focus-visible {
  color: var(--gray-100);
  border: 2px solid var(--gray-100);
}
.card__button:hover.card__button--sedans {
  background-color: var(--gold-500);
}
.card__button:hover.card__button--suvs {
  background-color: var(--cyan-800);
}
.card__button:hover.card__button--luxury {
  background-color: var(--green-950);
}

/*-------------------------- *\
  #LAYOUT 
\*---------------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-block-size: 100vh;

  padding-block: var(--spacing-300);
  background-color: var(--gray-100);
}
.cards-container {
  display: flex;
  flex-direction: column;

  border-radius: var(--border-radius-sm);
  overflow: hidden;
  box-shadow: var(--shadow-subtle);
}

/*-------------------------- *\
  #MEDIA-QUERIES 
\*---------------------------*/

@media (min-width: 48rem) {
  .cards-container {
    flex-direction: row;
    inline-size: min(56rem, 90vw);
  }
  .card__text {
    margin-block-end: var(--spacing-300);
  }
}
@media (prefers-reduced-motion: reduce) {
  .card__button {
    transition-duration: 0.01ms;
  }
}
