/** 
* CONTENTS
*
* RESET
* GLOBAL STYLES
* CARD
* PLAN
* BUTTONS
* LAYOUT
* MEDIA-QUERIES
*/

/*-------------------------- *\
  #RESET 
\*---------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*---------------------------*/

:root {
  /* Colors */
  --blue-50: hsl(225, 100%, 98%);
  --blue-100: hsl(225, 100%, 94%);
  --blue-700: hsl(245, 75%, 52%);
  --blue-alpha: hsla(245, 75%, 52%, 0.7);
  --gray-600: hsl(224, 23%, 55%);
  --blue-950: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-body: "Red Hat Display", sans-serif;

  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* Spacing */
  --spacing-100: 1rem;
  --spacing-200: 1.5rem;
  --spacing-300: 2rem;

  /* Border radius */
  --border-radius-md: 12px;
  --border-radius-lg: 20px;

  /* Box shadows */
  --shadow-medium: 0px 15px 25px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 10px 20px rgba(0, 0, 0, 0.15);
}

body {
  font-family: var(--ff-body);
}

/*-------------------------- *\
  #CARD 
\*---------------------------*/

.card-title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-black);
  color: var(--blue-950);
}
.card-description {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  line-height: 1.6;
  color: var(--gray-600);
  max-inline-size: 26ch;
  margin-inline: auto;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  padding: var(--spacing-300);
}
.card-img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}
.card {
  inline-size: min(25rem, 95vw);

  text-align: center;
  border-radius: var(--border-radius-lg);
  background-color: var(--white);
  box-shadow: var(--shadow-medium);
  overflow: hidden;
}

/*-------------------------- *\
  #PLAN 
\*---------------------------*/

.plan-name {
  font-size: var(--fs-md);
  font-weight: var(--fw-black);
  color: var(--blue-950);
  line-height: 1.8;
}
.plan-price {
  font-size: var(--fs-md);
  color: var(--gray-600);
}
.plan-link {
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  text-decoration: underline;
  color: var(--blue-700);
  cursor: pointer;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}
.plan-link:hover,
.plan-link:focus-visible {
  text-decoration: none;
  color: var(--blue-alpha);
}
.plan-details {
  flex-grow: 1;
}
.plan-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  text-align: left;
  padding: var(--spacing-200);
  background-color: var(--blue-50);
  border-radius: var(--border-radius-md);
}

/*-------------------------- *\
  #BUTTONS 
\*---------------------------*/

.btn {
  padding: var(--spacing-100);
  border: none;
  border-radius: var(--border-radius-md);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.pay-btn {
  background-color: var(--blue-700);
  color: var(--blue-100);
  box-shadow: var(--shadow-dark);
}
.pay-btn:hover,
.pay-btn:focus-visible {
  background-color: var(--blue-alpha);
}
.cancel-btn {
  background-color: transparent;
  color: var(--gray-600);
}
.cancel-btn:hover,
.cancel-btn:focus-visible {
  color: var(--blue-950);
}

/*-------------------------- *\
  #LAYOUT 
\*---------------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-block-size: 100vh;

  padding-block: var(--spacing-100);

  background-color: var(--blue-100);
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

/*-------------------------- *\
  #MEDIA-QUERIES 
\*---------------------------*/

@media (min-width: 48rem) {
  .container {
    background-image: url("./images/pattern-background-desktop.svg");
  }
}
@media (prefers-reduced-motion: reduce) {
  .plan-link,
  .pay-btn,
  .cancel-btn {
    transition-duration: 0.01ms;
  }
}
