/** 
* CONTENTS
*
* RESET
* GLOBAL STYLES
* TYPOGRAPHY
* IMAGES
* LAYOUT
*/

/*-------------------------- *\
  #RESET 
\*---------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*---------------------------*/

:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --slate-200: hsl(212, 50%, 92%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-400: hsl(213, 35%, 82%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  /* Fonts */
  --ff-body: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-body: 15px;
  --fs-md: 1rem;
  --fs-lg: 1.47rem;

  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1.06rem;
  --spacing-300: 1.6rem;
  --spacing-500: 2.66rem;

  /* Border Radius */
  --border-radius-sm: 10px;
  --border-radius-md: 20px;

  /* Shadows */
  --shadow-subtle: 0px 25px 25px 0px rgba(0, 0, 0, 0.47);
}

html {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}

/*-------------------------- *\
  #TYPOGRAPHY 
\*---------------------------*/

.text-preset-1 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  color: var(--slate-900);
}
.text-preset-2 {
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: 1.4;
  letter-spacing: 0.0133rem;
  color: var(--slate-500);
}

/*-------------------------- *\
  #IMAGES 
\*---------------------------*/

.card-img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

/*---------------------------*\
  #LAYOUT 
\*---------------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  padding: var(--spacing-300);
  background-color: var(--slate-300);
}
.card {
  width: min(21.33rem, 90vw);

  padding: var(--spacing-200);
  padding-block-end: var(--spacing-500);

  border-radius: var(--border-radius-md);
  background-color: var(--white);
  box-shadow: var(--shadow-subtle);
}
.content-text {
  padding-inline: var(--spacing-200);
}
.col {
  display: flex;
  flex-direction: column;
}
.col-center {
  align-items: center;
  text-align: center;
}
.gap-md {
  gap: var(--spacing-200);
}
.gap-lg {
  gap: var(--spacing-300);
}
