/* 
- Reset
- Custom properties
- Layout
- Typography
- Images
- Form
- Social Media links
- Media Queries
- Media reduce motion
*/
/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Custom properties */
:root {
  /* Colors */
  --blue-500: hsl(223, 87%, 63%);
  --blue-200: hsl(223, 100%, 88%);
  --red-400: hsl(354, 100%, 66%);
  --gray-400: hsl(0, 0%, 59%);
  --blue-950: hsl(209, 33%, 12%);
  --green: hsl(120, 100%, 25%);
  --white: hsl(0, 0%, 95%);

  /* Fonts */
  --ff-body: "Libre Franklin", sans-serif;

  --fs-base: 20px;
  --fs-sm: clamp(0.65rem, calc(0.5vw + 0.662rem), 0.75rem); /* 13px - 15px*/
  --fs-md: clamp(0.8rem, calc(1vw + 0.662rem), 0.9rem); /* 16px - 18px*/
  --fs-lg: clamp(1.4rem, calc(2vw + 0.662rem), 2.1rem); /* 28px - 42px*/

  --fw-light: 300;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Spacings */
  --spacing-sm: 0.4rem; /* 8px */
  --spacing-md: 0.8rem; /* 16px */
  --spacing-lg: 1.8rem; /* 32px */

  /* Border radius */
  --border-radius-lg: 24px;

  /* Box shadows */
  --shadow-medium: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
}
html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}
/* Layout */
.page-container {
  min-height: 100vh;
  background-color: var(--white);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  padding-block: var(--spacing-lg);
}
/* Typography */
.content-text {
  text-align: center;
}
.title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-light);
  color: var(--gray-400);
}
.title span {
  font-weight: var(--fw-semibold);
  color: var(--blue-950);
}
.description {
  font-size: var(--fs-md);
  font-weight: var(--fw-light);
  color: var(--blue-950);
  margin-block-start: var(--spacing-md);
}
.attribution {
  font-size: var(--fs-sm);
  font-weight: var(--fw-light);
  color: var(--gray-400);
}
/* Images */
.img-container {
  width: 100%;
  max-width: 40rem;
  padding-block: var(--spacing-lg);
}
.stats-img {
  max-inline-size: 100%;
  block-size: auto;
  box-shadow: var(--shadow-medium);
}
/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 80%;
  max-width: 20rem;
}
/* Utilities for email label*/
.sr-only {
  /* Visually hides element but keeps it accesible for screen readers */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input {
  padding: var(--spacing-md);
  width: 100%;
  font-size: var(--fs-md);
  text-indent: 10px;
  border: 1px solid var(--blue-200);
  border-radius: var(--border-radius-lg);
}
.button {
  padding: var(--spacing-md);
  border: none;
  border-radius: var(--border-radius-lg);

  font-size: var(--fs-md);
  color: var(--white);

  background-color: var(--blue-500);
  box-shadow: var(--shadow-medium);
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.button:hover,
.button:focus-visible {
  opacity: 0.6;
}
/* Classes for email input validation with JavaScript */
.error-message {
  margin-block-start: var(--spacing-sm);
  font-size: var(--fs-sm);
  text-align: center;
  color: var(--red-400);
}
.input.error-state {
  border: 1px solid var(--red-400);
}
.input.valid-state {
  border: 1px solid var(--green);
}
.error-message.valid-state {
  color: var(--green);
}
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
}
/* Social media links */
.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.social-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.3rem;
  height: 2.3rem;

  padding: var(--spacing-sm);
  border: 1px solid var(--blue-200);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.social-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--blue-500);
  transition: 0.2s ease-in-out;
}
.social-link:hover {
  background-color: var(--blue-500);
}
.social-link:hover .social-icon {
  color: var(--white);
}
@media (min-width: 48rem) {
  .form {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 40rem;
    height: 4rem;
  }
  .input {
    width: 19.5rem;
  }
  .button {
    width: 12rem;
  }
  /* Classes for input validation with JavaScript */
  .error-message {
    text-align: left;
    text-indent: 25px;
  }
}
@media (prefers-reduced-motion: reduce) {
  .button,
  .social-link,
  .social-icon {
    transition-duration: 0.01ms;
  }
}
