*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --grey-2: hsl(228, 12%, 75%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Fraunces", serif;

  /* 0.39vw - 1.46 ,0.39vw +0.96rem*/
  --fs-base: 14px;
  --fs-sm: clamp(0.85rem, 0.39vw + 0.96rem, 1rem); /* 12px - 14px */
  --fs-md: clamp(1rem, 0.39vw + 0.96rem, 1.14rem); /* 14px - 16px */
  --fs-lg: clamp(1.7rem, 0.39vw + 0.96rem, 1.85rem); /* 24px - 26px */
  --fs-xl: clamp(2.28rem, 0.39vw + 0.96rem, 2.57rem); /* 32px - 36px */

  --fw-medium: 500;
  --fw-bold: 700;

  /* Spacings */
  --spacing-md: 26px;

  /* Border Radius */
  --border-radius-sm: 10px;

  /* Box Shadows */
  --shadow-subtle: 0 4px 12px rgba(0, 0, 0, 0.1);
}
html {
  font-size: var(--fs-base);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-family: var(--ff-primary);

  background: linear-gradient(135deg, var(--cream), var(--grey-2));
}
.card {
  width: min(24rem, 90vw);
  margin-block: 1rem;
  background-color: var(--white);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  box-shadow: var(--shadow-subtle);
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}
.img-container {
  display: block;
  height: auto;
}
.product-img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  height: 100%;
}
.category {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--grey);
}
.title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}
.description {
  font-size: var(--fs-md);
  line-height: 1.5;
  color: var(--grey);
}
.prices {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.current-price {
  font-family: var(--ff-secondary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--green-500);
}
.original-price {
  text-decoration: line-through;
  color: var(--grey);
}
.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1em 2em;

  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--green-500);
  color: var(--white);
  cursor: pointer;
  box-shadow: var(--shadow-subtle);
  transition: background-color 0.1s ease;
}
.add-btn:hover,
.add-btnLfocus-visible {
  background-color: var(--green-700);
}

@media (min-width: 48rem) {
  .card {
    display: flex;
    width: 45rem;
  }
  .card-content {
    width: 50%;
  }
  .img-container {
    width: 50%;
  }
  .title {
    max-width: 10ch;
  }
}
@media (prefers-reduced-motion: reduce) {
  .add-btn {
    transition-duration: 0.01ms;
  }
}
