/** 
* CONTENTS
*
* RESET
* GLOBAL-STYLES
* TYPOGRAPHY
* IMAGES
* LAYOUT
* BUTTONS
* MEDIA QUERIES
*/

/*-------------------------- *\
  #RESET 
\*---------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*---------------------------*/

:root {
  /* Colors */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --grey-2: hsl(228, 12%, 75%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-heading: "Fraunces", serif;
  --ff-body: "Montserrat", sans-serif;

  --fs-base: 14px;
  --fs-sm: clamp(0.85rem, 1.5rem + 0.5rem, 1rem);
  --fs-md: clamp(1rem, 2vw + 0.5rem, 1.14rem);
  --fs-lg: clamp(1.71rem, 4vw + 0.5rem, 2.28rem);
  --fs-xl: clamp(2.28rem, 4vw + 0.5rem, 2.57rem);

  --fw-medium: 500;
  --fw-bold: 700;

  /* Spacings */
  --spacing-sm: 1.14rem;
  --spacing-md: 1.71rem;
  --spacing-lg: 2.28rem;

  /* Border Radius */
  --border-radius-sm: 10px;

  /* Box Shadows */
  --shadow-subtle: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
}
html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*-------------------------- *\
  #TYPOGRAPHY 
\*---------------------------*/

.title {
  font-family: var(--ff-heading);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--black);
}
.description {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  line-height: 1.5;
  color: var(--grey);
}
.category {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--grey);
}
.current-price {
  font-family: var(--ff-heading);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--green-500);
}
.original-price {
  font-size: var(--fs-sm);
  text-decoration: line-through;
  color: var(--grey);
}

/*-------------------------- *\
  #IMAGES 
\*---------------------------*/

.img-container {
  display: block;
  height: auto;
}
.product-img {
  max-inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

/*---------------------------*\
  #LAYOUT 
\*---------------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  padding-block: var(--spacing-lg);
  background-color: var(--cream);
}
.card {
  inline-size: min(24rem, 90vw);

  background-color: var(--white);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  box-shadow: var(--shadow-subtle);
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-lg);
}
.prices {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}
/*---------------------------*\
  #BUTTONS 
\*---------------------------*/

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1em 2em;

  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--green-500);
  color: var(--white);
  cursor: pointer;
  box-shadow: var(--shadow-subtle);
  transition: background-color 0.1s ease;
}
.add-btn:hover,
.add-btnLfocus-visible {
  background-color: var(--green-700);
}

/*---------------------------*\
  #MEDIA-QUERIES 
\*---------------------------*/

@media (min-width: 48rem) {
  .card {
    display: flex;
    inline-size: 46rem;
  }
  .card-content {
    inline-size: 50%;
    gap: var(--spacing-md);
  }
  .img-container {
    inline-size: 50%;
  }
  .title {
    max-inline-size: 10ch;
  }
}
@media (prefers-reduced-motion: reduce) {
  .add-btn {
    transition-duration: 0.01ms;
  }
}
