@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/static/Figtree-Medium.ttf") format(truetype);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/static/Figtree-ExtraBold.ttf") format(truetype);
  font-weight: 800;
  font-display: swap;
}
