:root {
  /* Colors */
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  /* Fonts */
  --ff-base: "Figtree", sans-serif;

  --fs-sm: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
  --fs-md: clamp(0.875rem, 0.8rem + 0.375vw, 1rem);
  --fs-lg: clamp(1.25rem, 1.15rem + 0.5vw, 1.5rem);

  --fw-medium: 500;
  --fw-extra-bold: 800;

  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 0.875rem;
  --spacing-300: 1.5rem;

  --spacing-responsive: clamp(0.75rem, 1.5vw, 1.25rem);

  /* Border Radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.625rem;
  --border-radius-lg: 1.25rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-family: var(--ff-base);
  background-color: var(--yellow);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);

  max-width: min(20.4375rem, 90vw);
  padding: var(--spacing-300);
  margin-block: var(--spacing-responsive);

  border-radius: var(--border-radius-lg);
  background-color: var(--white);
  box-shadow: 8px 8px 0 var(--gray-950), 0 0 0 1px var(--gray-950);
}
.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);

  font-weight: var(--fw-extra-bold);
  line-height: 1.5;
  color: var(--gray-950);
}
.img-container {
  width: 100%;
  height: 12.5rem;
  overflow: hidden;
  border-radius: var(--border-radius-md);
}
.blog-img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-md);
  object-fit: cover;
}

.category {
  align-self: flex-start;
  padding: var(--spacing-50) var(--spacing-150);

  font-size: var(--fs-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--yellow);
}
.publish-date {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
}
.card-link-title {
  text-decoration: none;
  font-size: var(--fs-lg);
  font-weight: var(--fw-extra-bold);
  color: var(--gray-950);
  cursor: pointer;
  transition: color 0.2s ease;
}
.card-link-title:hover,
.card-link-title:focus-visible {
  color: var(--yellow);
}
.card-text {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  color: var(--gray-500);
}
.author {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}
.author-pic {
  width: 2.4rem;
  height: auto;
  border-radius: 50%;
}
.author-name {
  font-size: var(--fs-md);
  font-weight: var(--fw-extra-bold);
}
/* Media Queries */
@media (min-width: 48rem) {
  .card {
    max-width: min(24rem, 90vw);
  }
}
@media (prefers-reduced-motion: reduce) {
  .card-link-title {
    transition-duration: 0.01ms;
  }
}
